* { min-width:48px;max-width:100%;-moz-box-sizing:border-box;box-sizing:border-box }
body { background:#fff;color:#333;font-family:Arial,"Helvetica Neue",Helvetica,sans-serif;font-size:16px;line-height:1.4;margin:0;padding:5px }
a { background:#36c;color:#fff;display:inline-block;font-weight:bold;line-height:48px;text-align:center;text-decoration:none }

em,i { color:#6c7 }
small { font-size:75% }

blockquote,pre { background:#eee;margin:20px 0;overflow:hidden;padding:7px 10px }
ol {list-style-type:none;counter-reset:item;padding:0;padding-left:5px;margin:0}
ol > li:before {content: counter(item) ') ';counter-increment:item;}
ul {list-style-type:none;padding:0;padding-left:5px;margin:0!important}
ul > li:before {content:'\203A' ' '}

h1 { font-size:125% }
h2 { font-size:110% }
h3 { font-size:100% }
h4 { font-size:100% }
h5 { font-size:100% }

img { border:0;vertical-align:middle; }

input,textarea,select { background:#fff;border:1px #ddd solid;font-family:Arial,"Helvetica Neue",Helvetica,sans-serif;font-size:18px;outline:none;padding:12px }
input[type="submit"] { background:#fe6;border-color:#fc4 }

table,tbody,tr,th,td,section,nav,article,aside,hgroup,header,footer { display:block }

.hide { display:none;max-width:100% }